@{
    ViewBag.Title = "Index";
}

<header>
    <h1>Ciber is!</h1>
</header>
<div data-viewmodel="Home/IceCreamListVM">
    <ul class="is-list" data-bind="foreach: iceCreams">
        <li data-bind="click: $parent.showBuyPopup" class="ice-cream">
            <img data-bind="attr: { src: imageURL }">
            <div class="ice-cream-info">
                <h2 data-bind="text: title"></h2>
                <span class="price" data-bind="currency: price"></span>
            </div>
        </li>
    </ul>
</div>



<script type="text/template" id="BuyIceCreamPopup">
    <div data-bind="with: selectedIceCream" class="ice-cream-popup">
        <h2 data-bind="text: title"></h2>
        <img data-bind="attr: { src: imageURL }">
        <div class="price" data-bind="currency: price"></div>
    </div>
    <button data-bind="click: buy">Kjøp isen</button>
</script>