@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add user to admin role</h2>
<div data-viewmodel="RoleAdmin/RoleAdminVM">

    <input data-bind="value: userName" />
    <br />
    <input type="button" data-bind="click: addUserAsAdmin" value="Add user as admin"></input>
    <br />
    <span data-bind="text: result"></span>
</div>