@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header><h1>Add Role</h1></header>
<div data-viewmodel="RoleAdmin/AddRoleVM">

    <input data-bind="value: roleName" />
    <br />
    <input type="button" data-bind="click: addRole" value="Add user as admin"></input>
    <br />
    <span data-bind="text: result"></span>
</div>