@{
    ViewBag.Title = "AddNew";
}

<div data-viewmodel="FillFreezer/NewBrandVM">
    <label>Navn: <input type="text" data-bind="value: title"/></label><br />
    <label>Bilde: <input type="text" data-bind="value: image"/></label><br />
    <label>Pris: <input type="text" data-bind="value: price"/></label><br />
    <button data-bind="click: addNewBrand">Legg til ny type is</button><br />
    <span data-bind="text: saveResult"></span>
</div>
