<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ciber Is</title>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/content/css/normalize.css">
  <link rel="stylesheet" href="/content/css/style.css">
  <meta 
    name="viewport" 
    content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
    <body>
        <div data-viewmodel="Common/PopupVM">
            <div data-bind="if: isPopupVisible, visible: isPopupVisible" style="display: none" class="pop-over-container">
                <div class="pop-over-cover" data-bind="click: hidePopup"></div>
                <a href="#" class="close-pop-over" data-bind="click: hidePopup"></a>
                <div class="pop-over" data-bind="template: { name: template, data: viewmodel }"></div>
            </div>
        </div>

        @RenderBody()
        <nav>
            <ul>
                <li>@Html.ActionLink("Kjøp is!", "Index", "Home")
                <li>@Html.ActionLink("Fyll Frysern!", "Index", "FillFreezer")
            </ul>
        </nav>
        
        
        <script type="text/template" id="AuthenticationPopup">
            <h2 class="pop-over-title">Ansattnummer</h2>
            <div class="authenticate-popup">
                <p>Skriv inn ansattnummeret ditt her for å kjøpe is</p>
                <input type="text" data-bind="value: buyerId"/>
                <button data-bind="click: authenticate">OK</button>
            </div>
        
        </script>
        
    @RenderSection("scripts", false)

  <script src="/content/js/libs/require-2.1.1.js" data-main="/content/js/main.js"></script>

    </body>
</html>
